.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  grid-gap: 5px;
}
.like_icon{
  transform: rotate(180deg);
}
.positive{
  color: chartreuse;
}
.negative{
  color: red;
}