@import "../../../styles/_variables";


.input {
  all: unset;
  color: var(--index_0_text);
  font-family: $font_family;
  transition: $default_transition;
  border-radius: $border_radius;


  @include default_h4;
  @include medium_padding($left: 10px);

}

.main_container {
  width: max-content;
  height: max-content;
  position: relative;
}

.input:focus::placeholder {
  opacity: 0;
}

.input::placeholder {
  color: var(--index_2_text);
  transition: $default_transition;

  @include default_h4($weight: $font-weight-index2)

}


@each $scheme in $color_schemes {

  .container.#{map-get($scheme, 'class_name')} {

    background-color: map-get($scheme, 'background');


  }
}

.main_container > svg {

  @include default_svg_layout;
  @include default_svg();
}

.input:invalid[data-left = 'true'] ~ .error_message {
  display: block;
}

.input:invalid[data-left = 'true'] {
  border-color: red;
}

.small {
  @include small_padding;
}

.medium {
  @include medium_padding;
}

.large {
  @include large_padding;
}

.error_message {
  color: red;
  display: none;
  position: absolute;
  top: calc(0% - 10px);
  left: calc(0% + 10px);
  font-size: 10px;
  background-color: #ffe1e1;
  border-radius: 5px;
  padding: 2px 4px 2px 4px;
}