@import "../../../variables";

.container{
  background-color: var(--index_1_color);
  border-radius: $border_radius;
  display: flex;
  flex-direction: column;
  grid-gap: 20px;

  @include medium_padding();
}
.like_section{

}



.link{
  text-decoration: none;
}