@import "../../../variables";

.text_area {
  //transition: $default_transition;
  border-radius: $border_radius;
  height: 100%;
  width: 100%;
  flex-shrink: 0;

  resize: none;
  overflow-y: scroll;
  color: var(--index_0_text);
  position: relative;

  &:focus {
    outline: none;
  }


  @include default_h3($size: 15px, $weight: $font_weight-index1);
  @include small_padding($vertical: 5px, $horizontal: 5px);
  @include styling_scrollbar($color_index: 2, $border_width: 7px)
}

@each $scheme in $color_schemes {
  .text_area.#{map-get($scheme, 'class_name')} {
    background-color: map-get($scheme, 'background');
    border: map-get($scheme, 'border') 1px solid;


  }

}