@import '../../../variables';

.container {
  width: 100%;
  background-color: var(--index_1_color);
  min-height: 58px;
  border-radius: $border_radius;
  //margin: 10px;
  max-width: 800px;


  @include small_padding($horizontal: 30px)
}

.nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.sections {
  display: flex;
  flex-direction: row;
  grid-gap: 10px;
  @include default_h4()
}